@model TypesOfViewsInASPNETCore.Models.Product
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <tr>
        <td>@Model.ProdcutId</td>
        <td>@Model.ProdcutName</td>
        <td>@Model.Description</td>
        <td>@Model.IsInStock</td>
        <td>@Model.Rating</td>
    </tr>
</div>